<body>
     <section class="game-details py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/images/ocarina-hero.png" class="img-fluid rounded" alt="Ocarina of Time">
                </div>
                <div class="col-md-6">
                    <h2>The Legend of Zelda: Ocarina of Time</h2>
                    <p>Es uno de los juegos más aclamados de todos los tiempos. Lanzado en 1998 para la consola Nintendo 64, revolucionó los juegos de aventuras con su innovador sistema de control en 3D, su narrativa épica y su cautivadora música.</p>
                    <ul class="list-unstyled">
                        <li><strong>Género:</strong> Aventura, Acción</li>
                        <li><strong>Plataformas:</strong> Nintendo 64, Nintendo 3DS (remake)</li>
                        <li><strong>Lanzamiento:</strong> 21 de noviembre de 1998 (Japón), 23 de noviembre de 1998 (Norteamérica)</li>
                        <li><strong>Desarrollador:</strong> Nintendo EAD</li>
                        <li><strong>Editor:</strong> Nintendo</li>
                        <li><strong>Jugabilidad:</strong> El jugador controla a Link en su misión para detener a Ganondorf, usando la Ocarina del Tiempo para resolver puzzles y viajar en el tiempo entre dos líneas temporales.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="screenshots py-5 bg-light">
        <div class="container">
            <h2 class="text-center">Capturas de Pantalla</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/images/captura1ot.png" class="img-fluid rounded mb-3" alt="Screenshot 1">
                </div>
                <div class="col-md-4">
                    <img src="../../assets/images/captura2ot.png" class="img-fluid rounded mb-3" alt="Screenshot 2">
                </div>
                <div class="col-md-4">
                    <img src="../../assets/images/captura3ot.png" class="img-fluid rounded mb-3" alt="Screenshot 3">
                </div>
            </div>
        </div>
    </section>
</body>
