<body>
    <section class="game-details py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/images/wild-hero.png" class="img-fluid rounded" alt="Breath of the Wild">
                </div>
                <div class="col-md-6">
                    <h2>The Legend of Zelda: Breath of the Wild</h2>
                    <p>Es un juego de mundo abierto que redefine la serie The Legend of Zelda, ofreciendo a los jugadores una libertad sin precedentes para explorar y completar misiones a su propio ritmo. Lanzado en 2017 para la Nintendo Switch y Wii U, ha sido aclamado por su diseño innovador y su vasto mundo lleno de secretos.</p>
                    <ul class="list-unstyled">
                        <li><strong>Género:</strong> Aventura, Mundo abierto, Acción</li>
                        <li><strong>Plataformas:</strong> Nintendo Switch, Wii U</li>
                        <li><strong>Lanzamiento:</strong> 3 de marzo de 2017</li>
                        <li><strong>Desarrollador:</strong> Nintendo EPD</li>
                        <li><strong>Editor:</strong> Nintendo</li>
                        <li><strong>Jugabilidad:</strong> El jugador controla a Link, quien debe salvar Hyrule explorando un vasto mundo abierto, resolviendo puzzles y enfrentándose a enemigos poderosos, con un enfoque en la supervivencia y la recolección de recursos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="screenshots py-5 bg-light">
        <div class="container">
            <h2 class="text-center">Capturas de Pantalla</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/images/captura1bw.png" class="img-fluid rounded mb-3" alt="Screenshot Breath of the Wild 1">
                </div>
                <div class="col-md-4">
                    <img src="../../assets/images/captura2bw.png" class="img-fluid rounded mb-3" alt="Screenshot Breath of the Wild 2">
                </div>
                <div class="col-md-4">
                    <img src="../../assets/images/captura3bw.png" class="img-fluid rounded mb-3" alt="Screenshot Breath of the Wild 3">
                </div>
            </div>
        </div>
    </section>
</body>
