<!-- app.component.html -->
<!-- Barra de navegación -->
<nav class="navbar">
    <div class="container">
        <a routerLink="/" class="logo">GameZone</a>
        <ul class="nav-links">
            <li><a routerLink="/">Inicio</a></li>
          
        </ul>
    </div>
</nav>

<!-- Contenido de la aplicación -->
<router-outlet></router-outlet> <!-- Aquí se cargará el contenido de las rutas -->

<!-- Pie de página -->
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 GameZone. Todos los derechos reservados.</p>
        <p>Síguenos en:
            <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Instagram</a>
        </p>
    </div>
</footer>
