
body {
    background-color: #F4F4F9;
    color: #2E8B57;
}

.navbar, footer {
    background-color: #8B4513;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: #DAA520;
}

a {
    color: #1E90FF;
}

a:hover {
    color: #DAA520;
}

.btn-primary {
    background-color: #2E8B57;
    border-color: #2E8B57;
}

.btn-primary:hover {
    background-color: #DAA520;
    border-color: #DAA520;
}

.footer {
    background-color: #2E8B57;
    color: white;
}
