<body>
    <section class="game-details py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/images/kingdom-hero.png" class="img-fluid rounded" alt="Tears of the Kingdom">
                </div>
                <div class="col-md-6">
                    <h2>The Legend of Zelda: Tears of the Kingdom</h2>
                    <p>Es la secuela directa de Breath of the Wild, continuando la historia de Link y Zelda en un Hyrule aún más vasto y lleno de misterios. Con nuevas habilidades y mecánicas de juego, Tears of the Kingdom amplía los límites de la exploración y la resolución de acertijos en un entorno completamente interactivo.</p>
                    <ul class="list-unstyled">
                        <li><strong>Género:</strong> Aventura, Mundo abierto, Acción</li>
                        <li><strong>Plataformas:</strong> Nintendo Switch</li>
                        <li><strong>Lanzamiento:</strong> 12 de mayo de 2023</li>
                        <li><strong>Desarrollador:</strong> Nintendo EPD</li>
                        <li><strong>Editor:</strong> Nintendo</li>
                        <li><strong>Jugabilidad:</strong> Link debe enfrentar nuevas amenazas en Hyrule, utilizando nuevas habilidades y herramientas que le permiten manipular el entorno y resolver puzzles en formas innovadoras.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="screenshots py-5 bg-light">
        <div class="container">
            <h2 class="text-center">Capturas de Pantalla</h2>
            <div class="row">
                <div class="col-md-4">
                    <img src="../../assets/images/captura1tk.png" class="img-fluid rounded mb-3" alt="Screenshot Tears of the Kingdom 1">
                </div>
                <div class="col-md-4">
                    <img src="../../assets/images/captura2tk.png" class="img-fluid rounded mb-3" alt="Screenshot Tears of the Kingdom 2">
                </div>
                <div class="col-md-4">
                    <img src="../../assets/images/captura3tk.png" class="img-fluid rounded mb-3" alt="Screenshot Tears of the Kingdom 3">
                </div>
            </div>
        </div>
    </section>
</body>
