<section class="featured-games py-5">
    <div class="container">
        <h2 class="text-gold">Juegos Destacados</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="game-card card">
                    <a routerLink="/juegos/ocarina-of-time">
                        <img src="../../assets/images/Ocarina.png" class="card-img-top" alt="Ocarina of Time">
                        <div class="card-body">
                            <h3 class="card-title text-green">Ocarina of Time</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="game-card card">
                    <a routerLink="/juegos/breath-of-the-wild">
                        <img src="assets/images/Wild.png" class="card-img-top" alt="Breath of the Wild">
                        <div class="card-body">
                            <h3 class="card-title text-green">Breath of the Wild</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="game-card card">
                    <a routerLink="/juegos/tears-of-the-kingdom">
                        <img src="assets/images/Kingdom.png" class="card-img-top" alt="Tears of the Kingdom">
                        <div class="card-body">
                            <h3 class="card-title text-green">Tears of the Kingdom</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>